# IDEs
.vscode/
.idea/
.DS_Store

# Dependencies
node_modules/
vendor/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Specific environment files
.env
.env.*
!.env.example
!.env.production

# Build outputs
build/
dist/
/public/storage
/storage/*.key
/rr

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
