fastapi>=0.111.0
uvicorn[standard]>=0.30.1
pydantic>=2.7.4
pydantic-settings>=2.3.4
SQLAlchemy[asyncio]>=2.0.31
asyncpg>=0.29.0
alembic>=1.13.1
aiosqlite
boto3
botocore
redis>=5.0.6
httpx>=0.27.0
langgraph>=0.1.4
langchain>=0.2.6
langchain-google-genai>=1.0.6
langchain-openai>=0.1.14
python-dotenv>=1.0.1
PyMuPDF>=1.24.5
pytest>=8.2.2
google-genai>=0.1.2
apify-client>=1.6.4
yfinance>=0.2.40
beautifulsoup4>=4.12.3
